.container {
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 5px solid grey;
    background-color: rgb(193, 212, 219);
    grid-template-rows: 80px 250px 250px;
    grid-template-columns: repeat(4, 1fr);
}

/*grid-row-start / grid-column-start / grid-row-end / grid-column-end*/

.container > div {
    border: 1px solid blue;
}

.header {
    grid-area: 1/2/2/5;
    background-color: green;
}

.sidebar {
    grid-area: 1/1/6/2;
    background-color: blueviolet;
}

.projects {
    grid-area: 2/2/4/4;
    background-color: grey;
}

.announcements {
    grid-area: 2/4/3/5;
    background-color: rgb(240, 25, 197);
}

.trending {
    grid-area: 3/4/4/5;
    background-color: blanchedalmond;
}